@model SearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group">
    <select name="Search">
        <option asp-controller="IEEE" asp-action="By_Author" id="By_Author" value="By_Author">author</option>
        <option id="By_Title" value="By_Title">Title</option>
    </select>
</div>

<div class="text-right">
    <form asp-controller="IEEE" asp-action="PostAny" method="get">
        <button type="submit">Get ieee</button>
    </form>
</div>

<p>ID_Dennis= 0000-0001-8463-6302</p>
@*<div class="text-left">
    <p>Insira o id do investigador</p>
    <form asp-controller="Orcid" asp-action="PutWorks" method="get">
        <input asp-for="Text" />
        <button type="submit">Search</button>
    </form>
</div>*@

<div class="text-left">
    <h1 class="display-6">Search IEEE - Author</h1>
    <form asp-controller="IEEE" asp-action="PostAny" method="get">
        <input asp-for="Text" />
        <button type="submit">Search</button>
    </form>
</div>


