@model SearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="display-4">Procurar projetos</h2>
    <p></p>
    <form asp-controller="Orcid" asp-action="PutProjects" method="get">
        <label> Insira o ID do investigador:</label>
        <input asp-for="Text" />
        <button type="submit">Search</button>
    </form>
</div>
